@import "tailwindcss";
@import '@bprogress/core/css';
@plugin "@tailwindcss/typography";


@theme {
 --font-sans: "Inter", sans-serif, system-ui;
 --font-serif: "Libre Baskerville", serif, system-ui;
 --font-mono: "Geist Mono", monospace, system-ui;

  --primary: lightgreen;
}

:root {
  --bprogress-color: var(--primary);
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes rough-notation-dash {
  to {
    stroke-dashoffset: 0;
  }
}
